<h2>新規会員登録</h2><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="container-fluid">
     <div class="row">
        <div class="col-sm-3">
        <%= f.label :名前 %><br />
        </div>
        <div class="col-sm-9">
        <%= f.text_field :name, :placeholder => "ぽんちゃん", autofocus: true, autocomplete: "name" %>
        </div>
      </div><br>


      <div class="row">
        <div class="col-sm-3">
        <%= f.label :メールアドレス %><br />
        </div>
        <div class="col-sm-9">
        <%= f.email_field :email, :placeholder => "yamada@nihon.com", autofocus: true, autocomplete: "email" %>
        </div>
      </div><br>

        <div class="row">
        <div class="col-sm-3">
        <%= f.label :都道府県 %><br />
        </div>
        <div class="col-sm-9">
        <%= f.select :prefecture_code, User.prefecture_codes.keys, {} %>
        </div>
      </div><br>

      <div class="row">
        <div class="col-sm-3">
        <%= f.label :パスワード %>
        </div>

        <div class="col-sm-9">
        <%= f.password_field :password, :placeholder => "6文字以上", autocomplete: "new-password" %>
        </div>
      </div><br>

      <div class="row">
        <div class="col-sm-3">
        <%= f.label :パスワード（確認用） %><br />
        </div>
        <div class="col-sm-9">
        <%= f.password_field :password_confirmation, :placeholder => "上記と同じパスワード", autocomplete: "new-password" %>
        </div>
      </div><br>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
<% end %>

<div>
  <h3>既に登録済みの方</h3><br>
  <nobr><%= render "devise/shared/links" %> 　からログインしてください。</nobr>
</div>
