<h3>場所新規登録</h3>
<%= form_for(@product) do |f| %>
<div>
<h4>画像</h4>
<div class="product_image">
<%= attachment_image_tag @product, :image, size: "200x200", class: "img-square", format: 'jpeg', fallback: "no_data.jpg" %>
<%= f.attachment_field :image %>
</div>

<script>
$(function(){
    // inputのidから情報の取得
    $('#product_image').on('change', function (e) {
// ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
    }
// ここまで
    reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
});
});

</script>


<h4>場所名</h4>
<%= f.text_field :name %>
<h4>場所説明</h4>
<%= f.text_area :introduction %>
<h4>ジャンル</h4>
<h4>都道府県</h4>
<%= f.select :prefecture_code, Product.prefecture_codes.keys, {} %>
<h4>市町村</h4>
<%= f.text_field :city %>
<h4>番地</h4>
<%= f.text_field :street %>
	<h4>現在の状態</h4>
	<%= f.select :status, {"現在もあります" => :true, "現在はありません"=> :false } %>
	<%= f.submit "新規登録" %>
<% end %>
</div> 

