<style>
.kotei {position: -webkit-sticky;position: sticky;top: 0;}
</style>
<!-- ビデオ -->
<div class="wrap-video">
  <div class="text">
    <p class="headline"><b>Live every moment as not to regret
what you are about to do.<b></p>
  </div>
  <video src="videos/video.mp4" muted autoplay loop></video>
</div>

<div class="container">
    <% if user_signed_in? %>
    <div class="row">
        <h3 class="New">NEW SPOT</h3>
        <div class="col-xs-12">
            <% @recommendation.each do |product| %>
            <div class="col-xs-3">
                <%= link_to product_path(product) do %>
                    <%= attachment_image_tag product, :image, :fill, 200, 200, fallback: "no_data.jpg", size:"200x200", class: "img-rounded" %>
                    <p><%= product.name.truncate(12, omission: '...') %></p>
                    <p><%= product.prefecture_code %></p>
                <% end %>
            </div>
            <% end %>
            <p class="pull-right btn btn-default"><%= link_to "Read more▶️", products_path %></p>
        </div>
    </div>
    <% end %>
</div>


 <div class="slider">
  <input class="slider__nav" type="radio" name="slider" title="slide1" checked="checked"/>
  <input class="slider__nav" type="radio" name="slider" title="slide2"/>
  <input class="slider__nav" type="radio" name="slider" title="slide3"/>
  <input class="slider__nav" type="radio" name="slider" title="slide4"/>
  <div class="slider__inner">
    <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
      <h2 class="slider__caption">codepen</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
      <h2 class="slider__caption">newspaper-o</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-television"></i>
      <h2 class="slider__caption">television</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <h2 class="slider__caption">diamond</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
  </div>
</div>


