<style>
.kotei {position: -webkit-sticky;position: sticky;top: 0;}
</style>
<!-- ビデオ -->
<div class="wrap-video">
  <div class="text">
    <p class="headline"><b><ruby>DOKOIKUNYA<rt>どこ行くんや</rt></ruby></b></p>
  </div>
  <video src="videos/video.mp4" muted autoplay loop></video>
</div>

<div class="container">
    <% if user_signed_in? %>
    <div class="row">
        <h3 class="New">SPOT</h3>
        <div class="col-xs-12">
            <% @recommendation.each do |product| %>
            <div class="col-xs-3">
                <%= link_to product_path(product) do %>
                    <%= attachment_image_tag product, :image, :fill, 200, 200, fallback: "no_data.jpg", size:"200x200", class: "img-rounded" %>
                    <p><%= product.name.truncate(12, omission: '...') %></p>
                    <p><%= product.prefecture_code %></p>
                <% end %>
            </div>
            <% end %>
            <p class="pull-right btn btn02"><%= link_to "Read more▶️", products_path %></p>
        </div>
    </div>
    <% end %>
</div>
 


<!-- スタート -->
<% if user_signed_in? %>
<% else %>
<div class="btn-engine-start">
<%= link_to products_guest_sign_in_path, method: :post ,class:"btn btn-engine-start-in" do %>
START<br>ゲスト<br><span>ログイン</span>
<% end %>
</div>
<% end %>

