
<% if user_signed_in? %>
<% @recommendation.each do |product| %>

<%= link_to product_path(product) do %>
<%= attachment_image_tag product, :image, :fill, 200, 200, fallback: "no_data.jpg", size:"200x200", class: "img-rounded" %>
<p><%= product.name.truncate(12, omission: '...') %></p>
<p><%= product.prefecture_code %></p>

<% end %>

<% end %>
<p><%= link_to "Read more▶️", products_path %></p>

<% end %>
<%= link_to 'ゲストログイン（閲覧用）', products_guest_sign_in_path, method: :post ,class:"fas fa-sign-in-alt" %>


<div class="test">aaaaaaa</div>