<!DOCTYPE html>
<html>
  <head>
    <title>DOKOIKUNYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="headline">
        <a href="#">DOKOIKUNYA</a>
      </h1>
      <div class="social">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-instagram"></i>
      </div>
    </header>

    <nav>
      <ul class="nav-list">
        <% if user_signed_in? %>
          <li class="nav-list-item">ようこそ <%= current_user.name %> さん</p>
          <li class="nav-list-item"><%= link_to "マイページ", user_path(current_user.id) %></li>
        <% end %>
        <li class="nav-list-item"><%= link_to "Home", root_path %></li>
        <li class="nav-list-item"><%= link_to "about", products_about_path %></li>
        <li class="nav-list-item"><%= link_to "新規登録", new_user_registration_path %></li>
        <li class="nav-list-item"><%= link_to "簡単ログイン", "#" %></li>
        <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path %></li>
        <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li class="nav-list-item"><%= link_to "場所一覧", products_path %></li>
        <li class="nav-list-item"><%= link_to "サーチ", "#" %></li>
        <li class="nav-list-item"><%= link_to "お問い合わせ", "#" %></li>
        <li class="nav-list-item"><%= link_to "商品新規登録", new_product_path %></li>
        <li class="nav-list-item"><%= link_to "会員一覧", users_path %></li>
      </ul>
    </nav>

    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
